body {
  background-image: url(background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

header {
  text-align: top;
  color: white;
  text-shadow: 2px 2px 4px rgb(221, 36, 3);
  font-size: xx-large;
  position: bottom;
}

.moon-1 {
  max-height: 84vh;
  display: flex;


}

.bottom-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-bottom {
  border: thick;
  color: greenyellow;
}

.border {
  color: hotpink;
  border: thick
}