body {
  background-image: url(background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

header {
  text-align: top;
  color: white;
  text-shadow: 2px 2px 4px rgb(221, 36, 3);
  font-size: xx-large;
  position: bottom;
}

.moon-1 {
  max-height: 80vh;
  display: flex;


}